<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <title>PLAN-IT</title>
  <meta name="description" content="PLAN-IT">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  {{> header }}
    <section id="content">
      {{#each projects}}
      <div class="project">
        <h2>{{project_name}}</h2>
        <p>{{description}}</p>
        <button onclick="edit({{id}})">Bewerk</button>
        <button onclick="deleteProject({{id}})">Verwijder</button>
        <button onclick="showdetails({{id}})">Details</button>
      </div>
      {{/each}}
      <div id="addProject">
        <a href="http://localhost:3000/newproject">+ Maak een nieuw project</a>
      </div>
      <div id="editProject">
        <form id="edit_project" method="POST">
          <input type="text" id="edit_title" placeholder="titel">
          <textarea id="edit_description" placeholder="beschrijving"></textarea>
          <input type="text" id="edit_collab" placeholder="collabs">
          <input type="submit" id="submit_edit">
        </form>
      </div>
    </section>
  {{> footer }}
  <script src="js/detail.js"></script>
</body>
</html>