<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <title>PLAN-IT</title>
  <meta name="description" content="PLAN-IT">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  {{> header }}
    <section class="content">
      <a href="http://localhost:3000/projects">Keer terug naar over zicht</a>
        <ul>
            <li>Details van project {{ id }}</li>
            <li>Naam: {{ project_name }}</li>
            <li>Eigenaar: {{ owner }}</li>
            <li>Beschrijving: {{ description }}</li>
            <li>
                <ul>
                  <li>{{ collab }}</li> 
                </ul>
                </li>
        </ul>
    </section>
  {{> footer }}
  <script src="js/project.js"></script>
</body>
</html>